< iDoctype html>
<html>
<head>
<style>
body {
  background-color:lightblue;
}
h1 {
  color :white;
  text-align :centre;
}
p{
  font-family: verdana;
  font-size: 20px;
}

</style>
</head>
<body>

<h1>Welcome to my Website</h1>
<p>Thank you Umuzi and Unicef for such an amazing opportunity</p>

</body>
</html>
